<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/pdf-lib/dist/pdf-lib.min.js"></script>
    <script src="https://unpkg.com/@pdf-lib/fontkit/dist/fontkit.umd.min.js"></script>
  </head>
  <body>
    <h3>Sample Page</h3>
    <button onclick="modifyPdf()">Modify PDF</button>
    <div><iframe id="target" width="100%" height="500px"></iframe></div>

    <script>
const { degrees, PDFDocument, rgb, StandardFonts } = PDFLib

async function modifyPdf() {
  const url = '/static/test_outline.pdf'
  const existingPdfBytes = await fetch(url).then(res => res.arrayBuffer())
  const jpgUrl = 'https://pdf-lib.js.org/assets/cat_riding_unicorn.jpg'
  const jpgImageBytes = await fetch(jpgUrl).then(res => res.arrayBuffer())
  const ipaexgUrl = 'static/ipaexg.ttf'
  const ipaexgBytes = await fetch(ipaexgUrl).then(res => res.arrayBuffer())

  const pdfDoc = await PDFDocument.load(existingPdfBytes)
  await pdfDoc.registerFontkit(fontkit)
  const helveticaFont = await pdfDoc.embedFont(StandardFonts.Helvetica)
  const ipaexgFont = await pdfDoc.embedFont(ipaexgBytes)
  const jpgImage = await pdfDoc.embedJpg(jpgImageBytes)
  const jpgDims = jpgImage.scale(0.5)

  const pages = pdfDoc.getPages()
  const firstPage = pages[0]
  const { width, height } = firstPage.getSize()
  firstPage.drawText('This text was added with JavaScript!', {
    x: 5,
    y: height / 2 + 300,
    size: 50,
    font: helveticaFont,
    color: rgb(0.95, 0.1, 0.1),
    rotate: degrees(-45),
  })
  firstPage.drawText('てすと', {
    x: 10,
    y: 10,
    font: ipaexgFont,
    color: rgb(0.5, 0.1, 0.1),
  })
  firstPage.drawImage(jpgImage, {
    x: 25,
    y: 25,
    width: jpgDims.width,
    height: jpgDims.height,
    rotate: degrees(30),
  })

  const pdfBytes = await pdfDoc.save()

  var iframe = document.getElementById('target');
  var blob = new Blob([pdfBytes], { type: 'application/pdf' });
  iframe.src = URL.createObjectURL(blob);
}
    </script>
  </body>
</html>
