<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/pdf-lib/dist/pdf-lib.min.js"></script>
  </head>
  <body>
    <h3>Sample Page</h3>
    <button onclick="modifyPdf()">Modify PDF</button>
    <div><iframe id="target" width="100%" height="100%"></iframe></div>

    <script>
const { degrees, PDFDocument, rgb, StandardFonts } = PDFLib

async function modifyPdf() {
  const url = '/static/test_outline.pdf'
  const existingPdfBytes = await fetch(url).then(res => res.arrayBuffer())

  const pdfDoc = await PDFDocument.load(existingPdfBytes)
  const helveticaFont = await pdfDoc.embedFont(StandardFonts.Helvetica)

  const pages = pdfDoc.getPages()
  const firstPage = pages[0]
  const { width, height } = firstPage.getSize()
  firstPage.drawText('This text was added with JavaScript!', {
    x: 5,
    y: height / 2 + 300,
    size: 50,
    font: helveticaFont,
    color: rgb(0.95, 0.1, 0.1),
    rotate: degrees(-45),
  })

  const pdfBytes = await pdfDoc.save()

  var iframe = document.getElementById('target');
  var blob = new Blob([pdfBytes], { type: 'application/pdf' });
  iframe.src = URL.createObjectURL(blob);
}
    </script>
  </body>
</html>
